  .title{
    font-family: 'Hachi Maru Pop', cursive;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-grey-blue);
  }

  .subtitle{
    font-family: 'Gaegu', cursive;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-grey-blue);
  }
  .subtitle2{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-grey-blue);
  }

 .nav-distance {
  padding: 2.1% 7.7%;
 }

 .navbar-light .navbar-brand {
  font-family: 'Hachi Maru Pop', cursive;
  line-height: 1.68;
  text-align: left;
  color: #35465d;
 }

 .navbar-light .navbar-toggler{
  border-color:#ffffff
  }


body {
    font-family: sans-serif;
    background-color: #ffffff;
  }
  
  .file-upload {
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .fvage-upload-wrap {
    width: 65%;
    margin: 0 auto;
    margin-top: 20px;
    /* border: 4px dashed #1FB264; */
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    border:dashed 1.5px #35465d;
    background-color: #ffffff;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #ffffff;
    border: 1.5px dashed #35465d;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h4 {
    width : 50%;
    font-weight: 100%;
    text-transform: uppercase;
    font-family: 'Gaegu', cursive;
    font-size: 1.5rem;
    line-height: 1.53;
    text-align: center;
    color: #35465d;
    margin: 0 auto;
  }
  
  .img{
    width:300px;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }

  .youtube-link{
    font-family: NanumSquareR;
    font-size: 1.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #f73737;
  }

  .youtube-copy {
    object-fit: contain;
    box-shadow: 10.1px 16.1px 20px 0 rgba(194, 194, 194, 0.9);
  }

  .a:hover{
    color: #f73737;
    text-decoration: underline;
  }

/*600px 이하일때는 */
  @media screen and (max-width: 600px) {
    body {
      font-size : 7px;
    }
    .navbar-brand{
      font-size: 1.5rem;
    }
  }

  .uploadtext{
    font-family: 'Gugi', cursive;    
  }

  .result-message{
    font-family: 'Gugi', cursive;
    font-size: 1rem;
  }

  .result-people{
    font-family: 'Gugi', cursive;
  }

  #label-container {
    width: 80%;
    margin: 0 auto;
   font-family: 'Gugi', cursive;
}

  .money-label{
    width:100%;
    text-align: left;
    height: 2rem;
  }

  .bar-container {
    height: 2.7rem;
  }

  .Korea-1000-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(102, 31, 84, 0.2);
  }
  .Korea-1000-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgb(234, 129, 238);
  }
  .Korea-5000-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(121, 85, 43, 0.2);
  }
  .Korea-5000-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgb(233, 163, 34);
  }
  .Korea-10000-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(117, 204, 84, 0.2);
  }
  .Korea-10000-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
  }
  .Korea-50000-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(128, 134, 43, 0.2);
  }
  .Korea-50000-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgb(222, 233, 122);
  }
  .Japan-1000-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(27, 175, 234, 0.2);
  }
  .Japan-1000-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(27, 175, 234, 1);
  }
  .Japan-5000-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(71, 163, 159, 0.2);
  }
  .Japan-5000-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgb(78, 185, 189);
  }
  .Japan-10000-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(195, 140, 102, 0.2);
  }
  .Japan-10000-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(195, 140, 102, 1);
  }
  .america-1-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(49, 132, 155, 0.2);
  }
  .america-1-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(49, 132, 155, 1);
  }
  .america-2-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(235, 166, 190, 0.2);
  }
  .america-2-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(235, 166, 190, 1);
  }
  .america-10-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(100, 21, 21, 0.2);
  }
  .america-10-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgb(241, 117, 128);
  }
  .america-50-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(21, 53, 100, 0.2);
  }
  .america-50-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgb(117, 150, 241);
  }
  .america-100-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(125, 26, 134, 0.2);
  }
  .america-100-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgb(208, 117, 226);
  }
  .anythingelse-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(15, 6, 15, 0.2);
  }
  .anythingelse-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgb(17, 10, 19);
  }
  .percent-text {
    width:100%;
    font-size: 1rem;
    color: #ffffff;
  }

  .ad-banner{
    width:320px;
    margin:0 auto;
  }
  .ad-banner-full{
    width:300px;
    margin:0 auto;
  }